* {
    margin: 0;
    padding: 0;
}

body {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
}

/* Main container */
.container {
  max-height: 800px;
}



#loginAsEmployee{
  display: none;
}

/* Background image for header */
.backgroundTop {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/_bakgrunn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    margin-bottom: -65px;
}

/* Company logo */
.logo {
    background-image: url("../img/_logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 220px;
    margin: 0 auto;
    position: relative;
    top: -150px;
    border-radius: 5px;
}

/* Grid container */
.grid-container {
    margin-top: -75px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows:    auto auto auto auto auto auto;
  }

  /* Main-grid controller */
  .grid-item {
    border-radius: 2.5px;
    padding: 15px;
    width: 260px;
    background-color:                    rgb(255, 255, 255);
    box-shadow: -1px 2px 5px 0px         rgba(0,0,0,0.40);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: -1px 2px 5px 0px    rgba(0,0,0,0.40);
  }

/* Username */
  .grid-item-1 {
    position: relative;
    margin: 0 auto 25px;
    height: 15px;
    grid-row: 1;
    grid-column: 1 / span 6;
    
  }

  .grid-item-1:hover {
    animation: none;
    box-shadow:  0 0 0 1.5px #000000;
  }

/* Password */
  .grid-item-2 {
    margin: 0 auto 25px;
    height: 15px;
    grid-row: 2;
    grid-column: 1 / span 6;
}

.grid-item-2:hover {
  animation: none;
  box-shadow:  0 0 0 1.5px #000000;
}

/* Login */
.grid-item-3 {
    margin: 0 auto 80px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    width: 120px;
    grid-row: 3;
    height: 15px;
    grid-column: 1 / span 6;
    text-decoration: none;
}

.grid-item-3:hover {
  transition: 0.2s;
  background-color: rgba(26, 26, 26, 0.787);
}

/* Login Facebook */
.grid-item-4 {
    margin: 0 auto 25px;
    background-color: #3b5998;
    color: whitesmoke;
    height: 15px;
    grid-row: 4;
    grid-column: 1 / span 6;
    text-decoration: none;
}

.grid-item-4:hover {
  transition: 0.2s;
  background-color: rgba(2, 59, 248, 0.918);
}

/* Login Google+ */
.grid-item-5 {
    margin: 0 auto 90px;
    background-color: #db4a39;
    height: 15px;
    color: whitesmoke;
    grid-row: 5;
    grid-column: 1 / span 6;
    text-decoration: none;
}

.grid-item-5:hover {
  transition: 0.2s;
  background-color: rgba(255, 0, 0, 0.945);
}

/* Register */
.grid-item-6 {
    margin: 0 auto 25px;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    width: 180px;
    grid-row: 6;
    height: 15px;
    grid-column: 1 / span 6;
    text-decoration: none;
}

.grid-item-6:hover {
  transition: 0.2s;
  background-color: rgba(26, 26, 26, 0.787);
}

/*Screen split container: --- Eller ---*/
.split-container {
    position: relative;
    width: 330px;
    height: 35px;
    margin: 0 auto;
    top: -330px;
    font-size: 15px;
}

.split-container .line-1 {
  width: 125px;
  border-top: 1px solid black;
  right: 200px;
  position: absolute;
  top: 9px;
}

.split-container .line-2 {
  width: 125px;
  border-top: 1px solid black;
  left: 200px;
  position: absolute;
  top: 9px;
}

.split-container .middle-text {
  position: relative;
  margin: 0 auto;
}

.info-text {
  margin: 0 auto;
  position: relative;
  bottom: 140px;
}

.forgot-password {
  position: relative;
  left: 95px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  bottom: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

#facebook {
  margin-right: 8px;
}

#google {
  margin-right: 8px;
}


/*----------------------------------------------------------------------------------------------------------------/*


 /* For tablets: */
@media only screen and (min-width: 768px) {

.info-text {
    margin: 0 auto;
    position: relative;
    bottom: 142px;
  }

    /* Register */
.grid-item-6 {
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
  top: 500px;
  }
  
}

#user {
  opacity: 0.5;
  position: relative;
  top: -18px;
  margin-left: 87%;
}

/*----------------------------------------------------------------------------------------------------------------/*


    /* For desktop: */
  @media only screen and (min-width: 968px) {

  .backgroundTop {
    background-image: none;
  }

  .logo {
    background-image: url("../img/_logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    border-radius: 5px;
    margin-bottom: 30px;
}

  .container {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/_bakgrunn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .info-text {
    margin: 0 auto;
    position: relative;
    bottom: 140px;
    color: whitesmoke;
  }

/*Screen split container: --- Eller ---*/
.split-container {
  display: none;
  position: relative;
  width: 330px;
  height: 35px;
  font-size: 12px;
  margin: 0 auto;
  top: -235px;
  font-size: 15px;
}


.split-container .line-1 {
  border-top: 1px solid whitesmoke;
}

.split-container .line-2 {
  border-top: 1px solid whitesmoke;
}

.split-container .middle-text {
color: whitesmoke;
}

/* Register */
.grid-item-6 {
  background-color: rgb(255, 132, 31);
  color: whitesmoke;
  top: 500px;
  display: none;
  text-decoration: none;
}

.grid-item-5 {
  margin: 0 auto 70px;
  background-color: #db4a39;
  color: whitesmoke;
  grid-row: 5;
  grid-column: 1 / span 6;
  text-decoration: none;
}

/* Login */
.grid-item-3 {
  background-color: rgb(255, 142, 37);
  color: whitesmoke;
  text-decoration: none;
}
  
.info-text {
  margin: 0 auto;
  position: relative;
  bottom: 142px;
  display: none;
}

/* Login Facebook */
.grid-item-4 {
  display: none;
}

/* Login Google+ */
.grid-item-5 {
  display: none;
}

.forgot-password {
 color: rgb(226, 130, 41);
 transition: 0.2s;
}

.grid-item-1:hover {
  animation: none;
  box-shadow:  0 0 0 1.5px rgb(226, 130, 41);
}

.grid-item-2:hover {
  animation: none;
  box-shadow:  0 0 0 1.5px rgb(226, 130, 41);
}

.grid-item-3:hover {
  transition: 0.2s;
  background-color: rgba(255, 142, 37, 0.746);
}

#login{
  display: none;
}

#loginAsEmployee{
  display: block;
  width: 150px;
}

}